body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #fff;
}
a{
    text-decoration: none;
}
ul,ol {
    list-style: none;
}
button{
    cursor: pointer;
}
.header{
    border-bottom: 1px solid #e7e9fc;
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-container{
    display: flex;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
.container{
    width: calc((100%-72px)/4);
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    
}
.span{
    color: #2e2f42;
}
.navigation{
    gap: 40px;
    display: flex;
    align-items: center;
    font-family: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.logo{
    gap: 40px;
    display: flex;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px; 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

}
.logos{ 
    margin-bottom: 16px;
}
.logo-part{
    color: #2e2f42;
}
.img{
    display: block;
    border: 1px solid #e7e9fc;
    border-radius: 0px 0px 4px 4px;
}
.nav-list{
    display: flex;
    gap: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    width: calc((100% - 3 * 24px) / 4) ;
    border-radius: 0px 0px 4px 4px;
}
.item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-list:hover,
.nav-link:focus{
    color: #404bbf;
}
.para{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address{
font-style: normal;
margin-left: auto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.address-list{
    display: flex;
    gap: 40px;
}
.address-link:hover,
.address-link:focus{
    color: #404bbf;
}
.uls{
    background-color: #ffffff;
}
.ule{
    gap: 40px;
    padding: 24px 0 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.ule:hover,
.ule:focus{
    color: #404bbf;
}
.lin{
    display: flex;
    gap: 24px;
    width: calc((100% - 72px) / 4)
}
.lis{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.section{
 background-color: #2e2f42;
 padding: 188px 0 188px;
}
.sectionen{
    background-color: #2e2f42;
    padding: 120px 0 120px;
}
.sections{
    background-color: #f4f4fd;
    padding: 120px 0 120px;
}
.div{
    border: 1px solid #e7e9fc;
    padding: 32px 0 32px;
}
.divs{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    border-bottom: 8px;
}
.effective{
    max-width: 496px;
    font-size: 65px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.hone{
    width: calc((100% - 72px) / 4);
    border: 1px solid #e7e9fc;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.service{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.team{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.service:hover,
.service:focus{
    background-color: #404bbf;
}
.sektion{
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}
.footer{
    background-color:#f4f4fd;
    padding: 100px 0;
    display: inline-block;
}
.logo-parts{
    color: #f4f4fd;
}
.paragraph{
    max-width: 264px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

